<h1>Liste des informations</h1>
  <%= link_to "Ajouter un nouvelle article", new_information_path, class: "btn_index" %>

<% @informations.each do |information| %>
  <div>
  <%= link_to information_path(information) do %>
    <h2><%= information.title %></h2>
    <p><%= information.description %></p>
    <% end %>
  </div>
<% end %>
